.box{
    width: 400px;
    height: 500px;
    background-color: blanchedalmond;
}
.box img {
    width: 151px;
    height: 182px;
}
.box h2{
    font-size: 4rem;
}


.box h1 {
    font-size: 6rem;
}
.vs{
    font-size: 9rem;
}
